<%= render partial: "layouts/errors" %>

<form action="/users" method="POST">
 <label>Username:
     <input name="user[user_name]" type="text">
 </label><br>
 <label>Password:
     <input name="user[password]" type="password">
 </label><br>
  <input type="submit">
</form>